body {
  background: #FCFCF8;
}

.app {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.nav div {
  border: 1px solid grey;
}

.window-icons {
  width: 10%
}

.note-icons {
  width: 50%
}

.search-bar {
  width: 40%
}

.app-container {
  display: flex;
  justify-content: space-around;
}

.list-item {
  width: 75%;
}

.list-item div {
  border: 1px solid grey;
}

.note {
  width: 100%;
  height: 100vh;
  border: 1px solid grey;
}