* {
  background: #FCFCF8;
}

.app {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav div {
  border: 1px solid grey;
  padding: 2%;
  margin: 0;
}

.window-icons {
  width: 10%
}

.note-icons {
  width: 50%
}

.search-bar {
  width: 40%
}

.app-container {
  display: flex;
  justify-content: space-around;
}

.list {
  width: 40%;
}

.list-item {
  border: 1px solid grey;
}

.note p {
}

.note {
  width: 100%;
  height: 100vh;
  border: 1px solid grey;
}

.note textarea {
  width: 100%;
  height: 100vh;
  font-size: 20px;
}